body {
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.layout {
    display: grid;
    grid:
      "sidebar body" 1fr
      / auto 1fr;
    grid-auto-flow: row dense;
    height: 100%;
  }
  .sidebar {
    /* grid-area: sidebar; */
    background-color: #E6FF9B;
    color: green;
    width: 150px;
    padding: 5%;
}
.sidebar a:hover {
    background: linear-gradient(#E6FF9B, #dfff7e);
}
.content {
    grid-area: body;
    background-color: #F4FFD1;
    color: #505050;
}
.game {
    background-color: #000;
    width, height: 200px;
}
a:link {
    text-decoration: none;
    text-transform: uppercase;
}
a:visited {
    text-decoration: line-through;
}
a:hover {
    text-decoration: underline;
}
a:active {
    
}